@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..600&family=Chivo:ital,wght@0,100..900;1,300..500&display=swap');

@import 'tailwindcss';

@theme {
  --font-serif: 'Besley', 'serif';
  --font-sans: 'Chivo', 'sans-serif';

  --color-latte-1: #fcfbf7;
  --color-latte-2: #f7f2e8;
  --color-latte-3: #eadcc8;
  --color-latte-4: #f3dba9;
  --color-latte-5: #63410b;
  --color-brand-1: #445187;
  --color-brand-2: #4058bf;
  --color-brand-3: #2a376f;
  --color-dark-1: #1b1a1a;
  --color-dark-2: #545250;
}

h1,
h2 {
  @apply font-serif font-semibold leading-snug;
}
